@import 'ringcentral-widgets/lib/commonStyles/full-size';
@import 'ringcentral-widgets/lib/commonStyles/colors.scss';

.root {
  @include full-size;
  padding: 0;

  textarea {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin: 0;
    resize: none;
    border: none;
    background: transparent;
    outline: medium none!important;
    box-sizing: border-box!important;

    &::placeholder {
      color: $smoke;
    }
  }
}
