@import 'ringcentral-widgets/lib/commonStyles/full-size';
@import 'ringcentral-widgets/lib/commonStyles/colors';

$sideWidth: 250px;
$smallSideWidth: 70px;

.root {
  @include full-size;
}

.side {
  float: left;
  width: $sideWidth;
  height: 100%;
}

.content {
  margin-left: $sideWidth;
  height: 100%;
  border-left: solid 1px $silver;
  width: calc(100% - #{$sideWidth});
}

.smallSide {
  > .side {
    width: $smallSideWidth;
  }

  > .content {
    margin-left: $smallSideWidth;
    width: calc(100% - #{$smallSideWidth});
  }
}
