@import 'ringcentral-widgets/lib/commonStyles/full-size';
@import 'ringcentral-widgets/lib/commonStyles/fonts';
@import 'ringcentral-widgets/lib/commonStyles/colors';

.root {
  @include full-size;
  @include primary-font;
  text-align: center;
  padding: 60px 20px 0 20px;
}

.backIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 18px;
}

.avatar {
  text-align: center;
  margin-bottom: 20px;

  img {
    height: 70px;
    border-radius: 5px;
  }
}

.name {
  font-size: 15px;
  color: $night;
}

.email {
  font-size: 13px;
  color: $ash;
}

.welcome {
  font-size: 25px;
  color: $night;
  margin-top: 20%;
}

.row {
  font-size: 25px;
  color: $night;
  margin-top: 5%;
}

.chatButton, .callButton {
  border: none;
  outline: 0;
  background-color: $primary-color;
  color: $snow;
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    color: $snow;
  }
}
